<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.socialCalendar.dao.UserDao">
		<!-- 用户信息映射 -->
    <resultMap type="User" id="userResultMap"> 
       	<id property="id" column="user_id"/>
        		<result property="openID" column="user_openID"/>
        		<result property="nickname" column="user_nickname"/>
        		<result property="sex" column="user_sex"/>
        		<result property="headimgurl" column="user_headimgurl"/>
        		<result property="subscribe" column="user_subscribe"/>
        		<result property="subscribeTime" column="user_subscribe_time"/>
    </resultMap>    

    	<!-- 添加用户 -->
    <insert id="addUser" parameterType="User">
        insert into user_wechat values(null,#{openID},
        #{nickname},#{sex},#{headimgurl},#{subscribe},#{subscribeTime})
    </insert>
    	<!-- 删除用户 -->
    <delete id="deleteUser" parameterType="Integer">
        delete from user_wechat where user_id = #{id}
    </delete>
    	<!-- 修改用户 -->
    <update id="updateUser" parameterType="User">
        update user_wechat
        <set>
            <if test="openID != null and openID != ''">user_openID = #{openID},</if>
            <if test="nickname != null and nickname != ''">user_nickname = #{nickname},</if>
            <if test="sex != null">user_sex = #{sex},</if>
            <if test="headimgurl != null and headimgurl != ''">user_headimgurl = #{headimgurl},</if>
            <if test="subscribe != null and subscribe != ''">user_subscribe = #{subscribe},</if>
            <if test="subscribeTime != null and subscribeTime != ''">user_subscribe_time = #{subscribeTime},</if>
        </set>
        where user_id = #{id}
    </update>   
  
    	<!-- 根据user_id查询用户 -->
    <select id="findByUserIdUser" parameterType="Integer" resultMap="userResultMap">
        select * from user_wechat where user_id = #{id}
    </select>
    	<!-- 根据open_id查询用户 -->
    <select id="findByOpenIdUser" parameterType="String" resultMap="userResultMap">
        select * from user_wechat  where user_openID = #{openID}
    </select>
    	<!-- 根据user_nickname查询用户 -->
    <select id="findByNickNameUser" parameterType="String" resultMap="userResultMap">
        select * from user_wechat
         <where>
            <if test="nickname!=null and nickname!=''">
               	AND user_nickname = #{nickname}
            </if>
        </where>
    </select>  		
</mapper>